<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <p-card [style]="{width:'500px', height: '100%'}">
  <mat-card-content>
    <form #recoveryForm="ngForm" (ngSubmit)="handleSubmit()">
      <h2>Récupération de mot de passe</h2>
      <ng-container *ngIf="action === 'sendMail'; else modifyForm">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="person.mail" aria-describedby="mail-help" id="mail" name="mail" pInputText
                 placeholder="Entrez votre identifiant" required
                 type="email"/>
        </p-inputGroup>
      </ng-container>

      <ng-template #modifyForm>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="person.password" name="password" pInputText placeholder="mot de passe" required
                 type="password">
        </p-inputGroup>
        <br>
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input [(ngModel)]="confirmPassword" name="confirmPassword" pInputText placeholder="Retaper mot de passe"
                 required type="password">
        </p-inputGroup>
          <div *ngIf="password_message!=null" style="color: crimson">
            {{password_message}}
          </div>
      </ng-template>

      <div *ngIf="error!=''" style="color: crimson">
        {{error}}
      </div>
      <br>
        <p-button (click)="goBack()" severity="secondary">Retour</p-button>
        {{'   '}}
      <p-button [disabled]="!recoveryForm.form.valid" [loading]="loading" [style]="{float:'right'}" (onClick)="handleSubmit()" color="primary" label="valider"></p-button>
    </form>
  </mat-card-content>
  </p-card>
</div>
