<h2>Liste des services</h2>
<p-button label="Ajouter un service" (onClick)="showAddElement()" icon="pi pi-plus"></p-button>
<p-table [value]="models">
	<ng-template pTemplate="header">
		<tr>
			<th>Nom</th>
			<th>Prix</th>
			<th>Commission</th>
			<th>Durée (minute)</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-product>
		<tr>
			<td>{{ product.name }}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.committee }}</td>
			<td>{{ product.duration }}</td>
			<td>
				<p-button icon="pi pi-pencil" [text]="true" [rounded]="true" (onClick)="showUpdateElement(product)" ></p-button>
				<p-button icon="pi pi-trash" [text]="true" [rounded]="true" (onClick)="dropElement(product)" severity="danger"></p-button>
			</td>
		</tr>
	</ng-template>
</p-table>
<p-confirmDialog></p-confirmDialog>