<h1>Liste des services</h1>
<service-form></service-form>
<table mat-table [dataSource]="models">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let model"> {{ model.name }}</td>
    </ng-container>
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Durrée</th>
        <td mat-cell *matCellDef="let model">{{ model.duration }}</td>
    </ng-container>
    <ng-container matColumnDef="committee">
        <th mat-header-cell *matHeaderCellDef>Commission</th>
        <td mat-cell *matCellDef="let model"> {{ model.committee }} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Prix</th>
        <td mat-cell *matCellDef="let model"> {{ model.price }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let row; columns: headers;"></tr>
</table>