<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>M1p11mean-Larousso-MyRanto</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <div><p> Utilisateur : {{profile?.name?.toUpperCase()}}, rôle: {{profile?.role}}</p></div>
    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="calendar()">
            <i class="pi pi-calendar"></i>
            <span>Calendrier</span>
        </button>
        <span *ngIf="profile.role!=='admin'">
            <button class="p-link layout-topbar-button" (click)="updateProfile()">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>
        </span>
        <button class="p-link layout-topbar-button" (click)="logOut()" >
            <i class="pi pi-sign-out"></i>
            <span>Se déconnecter</span>
        </button>
    </div>
</div>
