<p-dialog [(visible)]="show" [modal]="true" [draggable]="false" [closable]="false" [resizable]="false">
    <h2>{{ model ? 'Modification de service' : 'Création de service' }} {{huhu}}</h2>
    <form [formGroup]="form" id="service-form">
        <span class="p-float-label field">
            <input pInputText id="name" formControlName="name" />
            <label for="name">Nom</label>
        </span>
        <span class="p-float-label field">
            <input pInputText id="name" formControlName="price" />
            <label for="name">Prix</label>
        </span>
        <span class="p-float-label field">
            <input pInputText id="name" formControlName="committee" />
            <label for="name">Commission</label>
        </span>
        <span class="p-float-label field">
            <input pInputText id="name" formControlName="duration" />
            <label for="name">Durée en minute</label>
        </span>
        <p-button class="button" label="Valider" type="submit" [loading]="loading"></p-button>
        <p-button class="button" (onClick)="onCancel()" label="Annuler"></p-button>
    </form>
</p-dialog>