<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bienvenue!</div>
                    <span class="text-600 font-medium">Connectez-vous en tant  {{role==='admin' ? 'qu\'admin' : role==='employe' ? 'qu\'employé' : 'que client'}}</span>
                </div>

                <div>
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Identifiant</label>
                    <input id="email1" type="text" placeholder="Addresse email" [(ngModel)]="username" pInputText required class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="password1" class="block text-900 font-medium text-xl mb-2">mot de passe</label>
                    <p-password id="password1" [(ngModel)]="password" placeholder="mot de passe" [toggleMask]="false" [feedback]="false" required styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">

                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" href="/authentification/recoverycomponent" style="color: var(--primary-color)">Mot de passe oublié?</a>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" href="/authentification/register?role=customer" style="color: var(--primary-color)">S'inscrire?</a>
                    </div>
                        <div *ngIf="loginValid!=null"><p-message  severity="error" text="{{loginValid}}" />
                            <br> <br><br></div>
                    <button pButton pRipple  label="Se connecter" [loading]="loading" (click)="handleSubmit()" class="w-full p-3 text-xl"></button>
                    <br>
                    <br>
                    <label >Se connecter en tant que :</label>
                    <br><br>
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <a class="font-medium no-underline cursor-pointer" href="/?role=customer" style="color: var(--primary-color)">Client</a>
                        <a class="font-medium no-underline  cursor-pointer" href="/?role=admin" style="color: var(--primary-color)">Admin</a>
                        <a class="font-medium no-underline cursor-pointer" href="/?role=employe" style="color: var(--primary-color)">Employé</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<p-card>-->
<!--  <div>-->
<!--    <form #loginForm="ngForm" (ngSubmit)="handleSubmit()">-->

<!--      <div class="flex justify-content-center">-->
<!--        <h2>Connexion</h2>-->
<!--        <p>-->
<!--          <input [(ngModel)]="username" placeholder="Identifiant" id="username" name="username"  aria-describedby="username-help"  pInputText type="text" required/>-->
<!--        </p>-->
<!--        <p>-->
<!--          <input [(ngModel)]="password" placeholder="mot de passe" id="password" name="password"  aria-describedby="password-help"  pInputText type="password" required/>-->

<!--        </p>-->
<!--        <br>-->
<!--        <p-message *ngIf="loginValid!=null" style="color: crimson">-->
<!--          <p>{{loginValid}}</p>-->
<!--        </p-message>-->
<!--        <p-button  [disabled]="!loginForm.form.valid" (onClick)="handleSubmit()" >Se connecter</p-button>-->
<!--        <p>-->

<!--          <a href="/authentification/register?role=customer" style="text-decoration: none; margin-right: 10px;">S'inscrire</a>-->
<!--          <a href="/authentification/recoverycomponent" style="text-decoration: none;">Mot de passe oublié</a>-->
<!--        </p>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</p-card>-->
