.service-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.field{
    flex: 0 0 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}
.field.full-width {
    flex: 0 0 100%;
}
.field input{
    width: 100%;
}
.button-container {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
}
.button{
    width: 100%;
    align-content: center;
    flex: 0 0 48%;
    margin: 1% 1% 0 1%;
}
.button.half-width {
    flex: 0 0 50%;
}
