<div class="card">
  <p-toolbar styleClass="mb-1 gap-1">
    <ng-template pTemplate="left">
      <app-modal [MyComponent]="MyComponent" ></app-modal>
    </ng-template>
  </p-toolbar>
  <p-table
    [columns]="column"
    [value]="data"
    [paginator]="true"
    [rows]="5"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="lignes {first} à {last} avec {totalRecords} entrées"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.name }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr style="cursor: pointer">
        <td *ngFor="let col of columns" (click)="onRowClick(rowData)">
          {{ col.selector(rowData) }}
        </td>
        <td >
          <span *ngIf="edit">
            <app-modal [MyComponent]="MyComponent" [update]="true" [model]="rowData" ></app-modal>
          </span>{{' '}}
          <span *ngIf="trash">
           <app-delete-row [name]="nameDelete" [row]="rowData" [delete]="trash"></app-delete-row>
          </span>
        </td>
      </tr>
    </ng-template>
<!--    <ng-template pTemplate="paginatorleft">-->
<!--      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="paginatorright">-->
<!--      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>-->
<!--    </ng-template>-->
  </p-table>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
</div>

