<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <ng-container *ngIf="role==='customer'">
                            <p-button icon="pi pi-arrow-left" (click)="goBack()"></p-button>
                            {{'   '}}</ng-container>
                    </div>
                    <div class="text-900 text-3xl font-medium mb-3">Page d'inscription!</div>
                    <span class="text-600 font-medium">Inscirvez-vous</span>
                </div>

                <div>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-user"></i>
                        </p-inputGroupAddon>
                        <input [(ngModel)]="person.name" aria-describedby="name-help" id="name" name="name" pInputText
                               placeholder="Nom" required/>
                    </p-inputGroup>

                    <br>
<!--                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Addresse email</label>-->
<!--                    <input id="email1" type="text" placeholder="Addresse email" [(ngModel)]="person.mail" pInputText required class="w-full md:w-30rem mb-5" style="padding:1rem">-->

                    <p-inputGroup>
                        <p-inputGroupAddon style="height: 58%">
                            <i class="pi pi-envelope"></i>
                        </p-inputGroupAddon>
                        <input [(ngModel)]="person.mail" aria-describedby="mail-help" id="mail" class="w-full md:w-30rem mb-5" name="mail" pInputText
                               placeholder="Email" required
                               type="email"/>
                    </p-inputGroup>
                    <!-- champ pour l'employé -->
                    <div *ngIf="role === 'employe'">
                        <br>
                        <span style="float: left;text-align: left; margin-top: -17px; max-height: 3px">Horaires de travail:</span><br>
                        <div style="display: flex; align-items: center;">
                            <div class="p-field" style="width: 40%; height: 2%;">
                                <input [(ngModel)]="person.start_time" pInputText name="start_time" type="time"/>
                            </div>
                            <span style="width: 20%; text-align: center;"> à </span>
                            <div class="p-field" style="width: 40%;  height: 40%;">
                                <input [(ngModel)]="person.end_time" pInputText name="end_time" placeholder="Heure de fin" type="time">
                            </div>
                        </div>
                        <br>
                    </div>

                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-lock"></i>
                        </p-inputGroupAddon>
                        <input [(ngModel)]="person.password" name="password"  pInputText placeholder="mot de passe" required
                               type="password">
                    </p-inputGroup>
                    <br>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-lock"></i>
                        </p-inputGroupAddon>
                        <input [(ngModel)]="confirmPassword" name="confirmPassword" pInputText placeholder="Retaper mot de passe"
                               required type="password">
                    </p-inputGroup>
                    <p *ngIf="password_message!=null" style="color: crimson">
                        <p-message  severity="error" text="{{password_message}}" />
                    </p>
                    <br>
                    <div *ngIf="registerValid!=null"><p-message  severity="error" text="{{registerValid}}" />
                        <br> <br><br></div>
                   <div *ngIf="error_log"> <p-message  severity="error" text="{{error_log}}"></p-message><br> <br><br></div>

                    <button pButton pRipple  label="S'inscrire" [loading]="loading" (click)="handleSubmit()" class="w-full p-3 text-xl"></button>
                </div>
            </div>
        </div>
    </div>
</div>
