<div class="grid formgrid" style="position:relative;top:10px;">
    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
        <input [(ngModel)]="model.name" pInputText placeholder="nom" type="text">
    </div>
    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
        <input [(ngModel)]="model.percent" pInputText placeholder="pourcentage" type="number">
    </div>
    <span>Service?</span>
    <div class="col-12 md:col-1">
        <div class="field-radiobutton">
            <p-radioButton [(ngModel)]="model.is_service" id="city1" name="city" value="true"></p-radioButton>
            <label for="city1">oui</label>
        </div>
    </div>
    <div class="col-12 md:col-1">
        <div class="field-radiobutton">
            <p-radioButton [(ngModel)]="model.is_service" id="city2" name="city"
                           value="false"></p-radioButton>
            <label for="city2">non</label>
        </div>
    </div>
</div>
<br><br><br><br><br>
<div class="grid formgrid" style="position:relative;top:10px;">
    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
        <span class="p-float-label">
            <p-calendar [(ngModel)]="model.date_start" dateFormat="dd/mm/yy" appendTo="body" id="start"></p-calendar>
            <label for="start">Début</label>
        </span>
    </div>
    <div class="col-12 mb-2 lg:col-4 lg:mb-0">
        <span class="p-float-label">
            <p-calendar [(ngModel)]="model.date_end" dateFormat="dd/mm/yy" appendTo="body" id="end"></p-calendar>
            <label for="end">Fin</label>
        </span>
    </div>
    <p-button (onClick)="submit()" severity="success" label="valider"></p-button>
</div>
