<label for="date">Date du rendez vous</label>
<p-calendar id="date" [showTime]="true" [style]="{width:'100%'}" placeholder="Date et heure du rendez-vous" [(ngModel)]="calendarDate" [showIcon]="true"></p-calendar>
<label for="service">Ajouter un service</label>

<form id="service" *ngIf="form" class="form" [formGroup]="form" (submit)="add()" >
    <p-dropdown class="field" [style]="{width:'100%'}" formControlName="selectedService" [options]="services" optionLabel="name" placeholder="Selectionner le service*" required ></p-dropdown>
    <p-dropdown class="field" [style]="{width:'100%'}" formControlName="selectedEmp" [options]="empList" optionLabel="name" placeholder="Selectionner l'employé"></p-dropdown>
    <p-button class="field" [style]="{width:'100%'}" label="Ajouter" severity="success" icon="pi pi-plus" type="submit" ></p-button>
</form>

<h2>Liste des services séléctionnées</h2>
<p-table [value]="selectedServices" >
    <ng-template pTemplate="header">
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Employé responsable</th>
            <th></th>
            <th>Durrée estimée</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} Ar.</td>
            <td>{{ product.emp_name ? product.emp_name : 'Aucun employé selectionné' }}</td>
            <td><p-avatar *ngIf="product.emp_avatar" size="xlarge" shape="circle" [image]="getProfile(product.emp_avatar)"></p-avatar></td>
            <td>{{ product.duration }} Mn</td>
            <td><p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" (click)="removeFromSelected(product)" ></p-button></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td><b>Total</b></td>
            <td><b>{{getTotalPrice() }} Ar.</b></td>
        </tr>
    </ng-template>
</p-table>
<p-button [style]="{width:'100%'}" label="Valider" severity="success" (onClick)="confirm()"></p-button>