<div id="calendar-container">
    <div id="cal-buttons" style="display: flex; justify-content: space-between;">
        <div id="cal-date-nav-buttons" style="display: flex;">
            <p-button [text]="true" id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged()" [view]="view" [excludeDays]="[0, 6]" >Précédent</p-button>
            <p-button [text]="true" id="today" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged()"  >Aujourd'hui</p-button>
            <p-button [text]="true" id="next" mwlCalendarNextView [(viewDate)]="viewDate" (viewDateChange)="viewDateChanged()" [view]="view" [excludeDays]="[0, 6]" >Prochain</p-button>
        </div>
        <div id="cal-date-field">{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</div>
        <div id="cal-view-nav-buttons" style="display: flex;">
            <p-button [text]="true" [ngClass]="{'active': view === CalendarView.Month}" [severity]="view === CalendarView.Month ? 'success' : null" id="month" (click)="setView(CalendarView.Month)">Mois</p-button>
            <p-button [text]="true" [ngClass]="{'active': view === CalendarView.Week}" [severity]="view === CalendarView.Week ? 'success' : null" id="week" (click)="setView(CalendarView.Week)">Semaine</p-button>
            <p-button [text]="true" [ngClass]="{'active': view === CalendarView.Day}" [severity]="view === CalendarView.Day ? 'success' : null" id="day" (click)="setView(CalendarView.Day)">Jours</p-button>
        </div>
    </div>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
            *ngSwitchCase="calendarView.Month"
            [viewDate]="viewDate"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            [events]="events"
            [excludeDays]="[0, 6]"
            locale="fr"
            [refresh]="refresh"
            (eventClicked)="eventClicked($event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        />
        <mwl-calendar-week-view
            *ngSwitchCase="calendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [excludeDays]="[0, 6]"
            locale="fr"
            [dayStartHour]="6"
            [dayEndHour]="20"
            [refresh]="refresh"
            (eventClicked)="eventClicked($event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        />
        <mwl-calendar-day-view
            *ngSwitchCase="calendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            locale="fr"
            [refresh]="refresh"
            [dayStartHour]="6"
            [dayEndHour]="20"
            (eventClicked)="eventClicked($event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        />
    </div>
</div>


