<mat-card>
  <mat-card-content>
    <form #registerForm="ngForm" (ngSubmit)="handleSubmit()">
      <h2>Inscription</h2>
      <mat-error *ngIf="registerValid!=null">
        {{registerValid}}
      </mat-error>
      <mat-error *ngIf="error_log">{{error_log}}</mat-error>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="person.name" name="name" required>
          <mat-error>
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Adresse email</mat-label>
        <input matInput [(ngModel)]="person.mail" type="email" name="mail" required>
        <mat-error >
          Ce champ est obligatoire
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="person.password" name="password" required>
          <mat-error>
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>
      <!-- champ pour l'employé -->
      <div *ngIf="role === 'employe'">
        <br>
        <span  style="float: left;text-align: left; margin-top: -17px; max-height: 3px">Horaires de travail:</span><br>
        <div style="display: flex; align-items: center;">
          <mat-form-field appearance="outline" style="width: 40%; height: 2%;">
            <input matInput type="time" placeholder="Heure de début" [(ngModel)]="person.start_time" name="start_time" >
          </mat-form-field>
          <span style="width: 20%; text-align: center;"> à </span>
          <mat-form-field appearance="outline" style="width: 40%;  height: 40%;">
            <input matInput type="time" placeholder="Heure de fin" [(ngModel)]="person.end_time" name="end_time" >
          </mat-form-field>
        </div>
      </div>



      <!-- champ pour le client -->
      <div *ngIf="role === 'customer'">
        <mat-form-field appearance="outline">
          <mat-label>Service préféré</mat-label>
          <mat-select [(ngModel)]="person.prefered_service" name="prefered_service">
            <mat-option *ngFor="let srv of service_list" [value]="srv._id">{{srv.name}} {{srv.duration}}min</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Employé préféré</mat-label>
          <mat-select [(ngModel)]="person.prefered_emp" name="prefered_emp">
            <mat-option *ngFor="let emp of employe" [value]="emp._id">{{emp.name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <button mat-raised-button color="primary" [disabled]="!registerForm.form.valid">S'inscrire</button>
    </form>
  </mat-card-content>
</mat-card>

