<mat-card>
  <mat-card-content>
    <form #recoveryForm="ngForm" (ngSubmit)="handleSubmit()">
      <h2>Récupération de mot de passe</h2>

      <ng-container *ngIf="action === 'sendMail'; else modifyForm">
        <mat-form-field appearance="outline">
          <mat-label>Entrez votre identifiant</mat-label>
          <input matInput [(ngModel)]="person.mail" name="username" required>
          <mat-error>
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-template #modifyForm>
        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="person.password" name="password">
          <mat-error>
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Retaper le mot de passe</mat-label>
          <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword">
        </mat-form-field>
          <div *ngIf="password_message!=null" style="color: crimson">
            {{password_message}}
          </div>
      </ng-template>

      <mat-error *ngIf="error!=''">
        {{error}}
      </mat-error>
      <br>
      <button mat-raised-button color="gray" style="margin-right: 20px;" (click)="goBack()">Retour</button>{{'   '}}
      <button mat-raised-button color="primary" [disabled]="!recoveryForm.form.valid">valider</button>
    </form>
  </mat-card-content>
</mat-card>
